#navbar{
    overflow-y: scroll;
    position:absolute ;
    height:50%;
    float:left;
    width: 20%;
}

#main-doc{
    float: right;
    width: 70%;
}
.nav-link{
   border-top: 1px;   
    
}

code{
    background-color: grey;
}